.header {
    /* background-color: #6200ea; */
    padding: 1rem;
    color: white;
    background-color: #333;
    position: fixed; /* Fix the navbar to the top of the page */
    top: 0; /* Ensure it starts at the top */
    left: 0; /* Ensure it spans the full width */
    width: 100%; /* Full-width navbar */
    z-index: 1000; /* Ensure it stays above other elements */
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .site-name {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    margin-right: 45px;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 0.7vw;
  }
  
  .nav-list li {
    display: inline;
  }
  
  .nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease-in-out;
  }
  
  .nav-list a:hover {
    color: darkslategray;
  }
  @media screen and (max-width: 1020px) {
    .site-name{
      font-size: 2rem;
    }

    .nav-list {
        display: none; /* Hide menu by default */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 200px;
        text-align: center;
        padding: 10px 0;
        border-radius: 5px;
    }

    .nav-list.show {
        display: flex; /* Show when toggled */
    }

    .menu-toggle {
        display: flex !important;
        margin-right: 24px;
    }
}
.menu-toggle {
  display: none; /* Hide by default */
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.3s;
}

/* @media screen and (max-width: 768px) {
  .menu-toggle {
      display: flex;
  }
} */